<h1>Welcome to FamilyTree!</h1>

    <div class="content">
     
       <form class="form">
           <div class="form-group">
              
              <label for="username">Username: </label>
              <input class="form-control" [(ngModel)]="username" id="username" type="text" placeholder="email" name="username" ng-required="required">
         
              <label for="password">Password: </label>
              <input class="form-control" [(ngModel)]="password" id="password" type="password" placeholder="password" name="password" ng-required="required">
           </div>
            
            <div class="form-group">
                <button class="btn btn-primary" id="login" (click)="login()" type="submit">Login</button>
                <button class="btn"  id="register" [routerLink]="['/register']" >Register</button>
                <button class="btn" id="resetPW" [routerLink]="['/forgotpassword']">Forgot Password</button>
            </div>     
       </form>
     </div>
